astropy
attrs
backcall
bleach
cftime
configobj
cycler
decorator
defusedxml
docopt
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
netCDF4
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
#pkg-resources
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
scipy
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
